langchain
langchain-groq
langchain-core
langchain-community
langchain-classic
langchain-huggingface
docx2txt
pypdf
langchain-chroma
python-multipart
fastapi
uvicorn
python-dotenv
sentence-transformers